<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Camera topic and weights, config and classes files -->
    <arg name="weights_path"                default="$(find detector)/weights/turtle_house_best.pt"/>
    
    <!-- Node -->
    <node name="detect" pkg="robot_drone_bringup" type="ingress_egress.py" output="screen">
        <param name="weights_path"              value="$(arg weights_path)"/>
    </node>

</launch>